/* General body styles */
body {
    background-color: #fcf5e7;
    color: #494949;
    font-family: 'Tahoma', 'Roboto', 'Futura', sans-serif;
}

/* Header Section */
div.Header {
    background-color: #145DA0;
    text-align: center;
}

/* h1, h2, h3 styles */
h1, h2, h3 {
    text-shadow: 5px 5px #1b3652;
    color: #fcf5e7;
    font-family: 'Baskerville', 'Courier', 'Garamond', serif;
    background-color: #145DA0;
}

/* hr styles */
hr {
    color: #1b3652;
}

/* Ordered list (alpha) */
ol.A {
    list-style-type: upper-alpha;
    font-family: 'Tahoma', 'Roboto', 'Futura', sans-serif;
}

/* Unordered lists (squares) */
ul.a, ul.b, ul.c, ul.d, ul.e {
    list-style-type: square;
    color: #494949;
}

/* List item title styles */
li.title {
    font-size: 1.5em;
    background-color: #145DA0;
    text-shadow: 5px 5px #1b3652;
    color: #fcf5e7;
    font-family: 'Baskerville', 'Courier', 'Garamond', serif;
}

/* Link styles */
a { 
    background-color: #145DA0;
    color: #fcf5e7; /* Changed to #fcf5e7 */
    padding: .5em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    box-shadow: 0 5px 0 #1b3652;
    font-family: 'Baskerville', 'Courier', 'Garamond', serif;
}



a:focus {
    background-color: #f0c808;
    color: black;
}

a:hover {
    background-color: #f0c808;
    color: #ff5830;
}

/* Navigation Bar styles */
nav {
    border: 1px solid #333;
    margin: 0 auto; /* Centers the nav bar horizontally */
    width: 60%; /* Adjust width as needed */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    color: #fcf5e7; /* Text color changed to #fcf5e7 */
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    display: block;
    padding: 0.5rem 1rem;
}

nav a:focus, nav a:hover {
    background-color: #f0c808;
    color: #ff5830;
}

.right-image {
    float: left
    margin-left: 20px; /* Add some space between the text and the image */
    max-width: 10%; /* Adjust the image size if needed */
    height: auto;
}